header {
  padding: 20px;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: white;
}

.project {
  padding: 30px;
  border: 1px solid #ccc;
  margin: 20px 0;
}
section {
  text-align: center;
  padding: 30px;
  float: left;
  width: 70%;
}

aside {
  padding: 0px 10px;
  border-left: 3px solid #007bff;
  position: relative;
  margin: 0px 20px;
  float: right;
  width: 19%;
  height: 500px;
}
aside > h3 {
  /* position: absolute;
  top: 10;
  right: 20px; */
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  display: inline-block;
}
footer {
  clear: both;
  border-top: 2px solid #2f3841;
}
footer p {
  font-display: none;
  text-align: center;
}
/* footer의 첫번째문단
footer p:first-child {
    display: none;
} */
#project {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(11, 192, 233);
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
